body { background-color: #DCDCDC; color: #000000;
	  margin-left: 100px; margin-right: 100px;
}

.header { background-color: #990033;
	color: #E7E7E6;
	height: 80px;
	text-align: left;
	padding-top: 2px;
}

nav { font-weight: bold; font-size: 1.25em;
	background-color: #C0C0C0;
	text-align: center;
}

.title { color: #B0C4DE;
	 text-align: center;
}

.main { background-color: #660033; font-size: 1.5em;
	color: #B0C4DE;
	padding-top: 25px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 25px;
	text-align: left;
}
.main2 { background-color: #660033; font-size: 1.25em;
	color: #B0C4DE;
	padding-top: 25px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 25px;
	text-align: center;
}

.border { border-width: 3px:
	border-color: blue;
	border-style: sold;
}


